<div class="row">
  <div class="id-form col-sm-6">
    <h1>CNYCN Messaging</h1>
    <p>Fill out the form to send a message</p>
    <form action="/send" method="post">
      <div class="form-group">
        <label for="first-name">First Name</label>
        <input type="text" name="first_name" class="form-control" id="first-name"/>
      </div>
      <div class="form-group">
        <label for="last-name">Last Name</label>
        <input type="text" name="last_name" class="form-control" id="last-name"/>
      </div>

      <div class="form-group">
        <label for="phone-number">Phone Number</label>
        <input type="text" name="phone_number" class="form-control" id="phone-number"/>
      </div>
      <div class="form-group">
        <label for="message">Message</label>
        <textarea name="message" class="form-control" id="message"></textarea>
      </div>
      <div class="form-group">
        <button class="btn">Submit</button>
      </div>
    </form>
  </div>

  <div class="id-form col-sm-6">
    <h2>Continue a Conversation</h2>
    <ul>
    <% @clients.each do |client| %>
      <li id="<%= client.id %>" class="client-list">
        <a href="/clients/<%= client.id %>"><%= client.first_name %> <%= client.last_name %> - <%= client.formatted_phone %></a>
        <% if client.unread_messages %>
          <span class="new-messages">New Messages</span>
        <% else %>
          <span></span>
        <% end %>
      </li>
    <% end %>
    </ul>
  </div>
</div>

<script>
  setInterval(function(){
    var clients = <%= @clients.map { |client| client.attributes }.to_json %>;
    for (i = 0; i < clients.length; i++) {
      $.ajax({
        url: '/clients/' + clients[i]['id'] + '/new_messages',
        success: function(response) {
          var messages = JSON.parse(response)['messages'];
          if (messages && messages.length > 0) {
            var clientId = messages[0]['client_id'];
            $('#' + clientId + ' span').html('New Messages').addClass('new-messages');
          }
        }
      });
    }
  }, 30000);
</script>
